services:
  mysql:
    image: mysql:8.0
    container_name: mysql-db
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  backend:
    image: ramzi85/lab-platform-backend:${TAG}
    container_name: lab-backend
    restart: unless-stopped
    env_file:
      - .env
      - .env.build
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    depends_on:
      - mysql

  frontend:
    image: ramzi85/lab-platform-frontend:${TAG}
    container_name: lab-frontend
    restart: unless-stopped
    env_file:
      - .env.build
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - backend

volumes:
  mysql-data:
